<h3>Add Drinks</h3>

<%= link_to "Back to tab for " + @tab.patron.last_name, tab_path(@tab), id: "link-to-tab" %>
  <table class="tables">
    <thead>
      <tr>
        <th>Drink</th>
        <th>Price</th>
        <th>Add Item</th>
      </tr>
    </thead>
    <tbody>
      <% @drinks.each do |drink| %>
        <tr>
          <td class="drink-name"><%= drink.drink_name %></td>
          <td class="drink-price"><%= drink.price %></td>
          <td>
            <%= render partial: "new_drink", locals: { tab: @tab, tab_item: @tab_item, drink: drink } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

