<h1>Edit Settings</h1>


<button><%= link_to "Close All Open Tabs", bar_path(@bar, bar: {close_all: true}, data: :success, :format => :js), id: "close-all", remote: true, :method => :put %></button>

<p>By hitting "close all open tabs", you'll be closing all active tabs.</p>
<p>If you aren't tired, wasted, and closed for the night, and this isn't what you'd like to do, don't.</p>


<button><%= link_to "Discoverable on", bar_path(@bar, bar: {update_discoverable: true}, :format => :js), id: "discoverable", remote: true, :method => :put %></button>
