h1
  text-align: center
  padding-top: 5%

#refresh-button
  padding-bottom: 5%
  padding-left: 2%

#bar-search-bar
  width: 90%
  margin: auto

.expander
  padding: 3%

.expander
  > a
    font-size: 5em

