<h2><%= @tab.patron.last_name %></h2>
<button><a href="">Add Item</a></button>
<% @tab.tab_items.each do |item| %>
  <ul>
    <li><%= item.drink.drink_name %></li><br>
    $ <%= item.drink.price %>
  </ul>
<% end %>
