<h1>Open Tabs</h1>



<% if @tabs %>
    <% @tabs.each do |tab| %>
      <div class="box">
        <h3>
            <%= link_to tab.patron.full_name, tab_path(tab), :method => :get %><br>
        </h3>
    <% end %>
  </ul>
<% else %>
  <h3>All tabs have been closed</h3>
<% end %>
