<h1 id="open-tabs-header">Open Tabs</h1>


<% if @tabs %>
  <% @tabs.each do |tab| %>

  <div class="grid-items">
    <%= link_to tab_path(tab), :method => :get, :class => "grid-item" do %>
      <h1><%= tab.patron.full_name %></h1>
      <p>$<%= tab.total_amount %></p>
    <% end %>
  <% end %>
<% else %>
  <h3>All tabs have been closed</h3>
<% end %>
</div>

<%= link_to "Settings", settings_path(@bar), id: "settings-button" %>
